<p>welcome back, <%= current_user.username %></p>
<p>Total reviews - <%= current_user.total_reviews %></p> 
  <br>
  <br>

<%= render partial: 'search' %>

<h3>Can't find the book you're looking for?</h3>
<%= link_to 'Add a book to the library', new_book_path %> 