<% title "Welcome" %>
<p>Welcome back, <%= current_user.username %>.<br>
Total Reviews - <%= current_user.total_reviews %></p> 
  <br>
<%= render partial: 'search' %>

<h3>Can't find the book you're looking for?</h3>
<%= link_to 'Add a book to the library', new_book_path %> 